@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1E40AF;
    --primary-dark: #1E3A8A;
    --primary-light: #3B82F6;
  }

  body {
    @apply font-sans text-gray-900 antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
